doctype html
h1 회원가입
form(aution='/user/regist' method='post')
  p
    input(type='text' name='username' placeholder='아이디')
  p
    input(type='password' name='password' placeholder='비밀번호')
  p
    input(type='text' name='displayName' placeholder='대화명')
  p
    input(type='text' name='email' placeholder='이메일')
  p
    input(type='submit' value='가입요청')
