doctype html
head
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
  link(rel='stylesheet' type='text/css' href='/dist/semantic.min.css')
  script(src='/dist/semantic.min.js')
  meta(charset='utf-8')
body
  p
    a(href='/user/welcome') MAIN PAGE
  p
    a(href='/user/sample/button') BUTTON PAGE
  p
    a(href='/user/sample/test') TEST PAGE
